*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.galeria{
	width: 450px;
	display: grid;
	grid-template-columns: repeat(3,auto);
	gap:10px;
}
.galeria a{
	display: block;
}
.galeria img{
	display: block;
	width: 100%
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	display: none;
	align-items: center;
	justify-content: space-evenly;
}
.visible{
	display: flex;
}
.modal img{
	display: block;
	width: 550px;
}
.modal button{
	-webkit-appearance: none;
	appearance:none;
	border:none;
	background-color: transparent;
	color: white;
	font-size:4em;
	cursor: pointer;
}